.header-bg {
  width: 100%;
  height: 25.7rem;
  background-image: url(../../assets/header9.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  max-width: 112.8rem;
  margin: 0 auto 20rem auto;
  display: flex;
  flex-direction: column;
}

.menu {
  height: 7.5rem;
  display: flex;
}

.menu li {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.menu li a {
  font-family: var(--font1);
  color: var(--white);
  font-size: 2.4rem;
  display: flex;
  padding: 2rem;

  transition: 0.3s ease;
}

.menu li a:hover {
  color: var(--orange);
}

.header-titles {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header-titles h1 {
  text-align: center;
  font-size: clamp(5rem, 14rem, 20rem);
  font-family: var(--font1);
}

// SOBRE: GALERIA

.section-sobre {
  margin-top: 4rem;
}

.logo {
  text-align: center;
}
.logo p {
  font-family: var(--font2);
  font-size: 2.1rem;
  color: var(--gray);
  max-width: 84rem;
  text-align: center;
  margin: 0 auto;
}

.sobre-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.galeria-imagem {
  padding: 0.7rem;
}

.call-to-actions {
  margin-top: 4rem;
  padding-left: 1rem;
}

.call-to-action {
  display: flex;
  align-items: center;
}

.call-to-actions a {
  font-family: var(--font1);
  font-size: 2.7rem;
  color: var(--white);
}

// SECTION: EVENTOS
.section-eventos {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-eventos .context {
  margin-bottom: 4rem;
}

.title {
  font-family: var(--font1);
  font-size: 7.4rem;
  text-align: center;
  line-height: 7rem;
  margin: 0 auto;
}

.section-eventos .context p {
  font-family: var(--font2);
  font-size: 2.1rem;
  color: var(--gray);
  max-width: 84rem;
  text-align: center;
  margin: 0 auto;
}

.eventos-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.galeria-bg {
  max-width: 100%;
}

.galeria-bg img {
  width: 100%;
}

// SECTION: VIDEOS RECENTES

.section-videos {
  margin-top: 8rem;
}

.videos-recentes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.video-recente {
  padding: 0.5rem;
}

.logo-bg {
  max-width: 100%;
  position: absolute;
  z-index: -1;
}

.logo-bg img {
  width: 100%;
}
